.DS_Store
.venv
.flaskenv
*.pyc
*.pyo
venv/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
.instance/
instance/

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover












