{% extends 'layout.html' %}

{% block content %}

<div class="constent-section mt-5">
    <form action="" method="POST">
        {{ Form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Login</legend>

            <div class="form-group">
                {{ Form.email.label(class='form-control-label') }}

                {% if Form.email.errors %}
                    {{ Form.email(class='form-control form-control-lg is-invalid') }}
                    <div class="invalid-feedback">
                        {% for error in Form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ Form.email(class='form-control form-control-lg') }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ Form.password.label(class='form-control-label') }}

                {% if Form.password.errors %}
                    {{ Form.password(class='form-control form-control-lg is-invalid') }}
                    <div class="invalid-feedback">
                        {% for error in Form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ Form.password(class='form-control form-control-lg') }}
                {% endif %}
            </div>
            <div class="form-check">
                {{ Form.remember(class='form-check-input') }}
                {{ Form.remember.label(class='form-check-label') }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ Form.submit(class='btn btn-outline-info mt-3')}}
        </div>
        <small class="text-muted ml-2">
            <a href="#">Forgot your password?</a>
        </small>
    </form>
</div>

<div class="border-top pt-3">
    <small class="text-muted">
        Don't have an Account? <a href="{{ url_for('register') }}" class="ml-2">Register</a>
    </small>
</div>


{% endblock content %}